<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LCC_SAMS_Project.My.MySettings.db_lccsams_localhost"
      connectionString="server=localhost;user id=raldz;persistsecurityinfo=True;database=db_lccsams"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
</configuration>
